<app-toolbar></app-toolbar>
<div id="empty-wrapper" *ngIf="!restaurants.length">

    <div class="screen">
        <div class="screen-image"></div>
        <div class="screen-overlay"></div>
        <div class="screen-content">
            <div class="loading-screen">
                <div class="spinner"></div>
            </div>
            <div class="screen-user">
                <span class="name">DATEGENIE</span>
                <!-- <a class="link" href="" target="_blank">@JG</a> -->
            </div>

        </div>
    </div>
</div>

<div id=wrapper [hidden]="!restaurants.length">
    <!-- <app-toolbar></app-toolbar> -->

    <div class="screen">
        <div class="screen-image"></div>
        <div class="screen-overlay"></div>
    </div>

    <div class="form">
        <form [formGroup]="form" (ngSubmit)="searchRestaurants()">
            <table>
                <tr>
                    <td class="input-header">Search Restaurants:</td>
                    <td><input class="text-input" type="text" required placeholder="{{keyword}}" formControlName="keyword">
                    </td>
                    <td><button id="search-button" type="submit" [disabled]="form.invalid">Search</button></td>
                </tr>
            </table>
        </form>
    </div>

    <mat-paginator #paginator [length]="totalRecords" [pageSize]="8" [pageSizeOptions]="[8]" (page)="getPageDetails($event)" aria-label="Select page">
    </mat-paginator>

    <div *ngIf="restaurants.length !== 0" class="card-container">
        <mat-card class="restaurant-card card" *ngFor="let res of restaurants">
            <mat-card-header class="restaurant-header-image card-header">
                <mat-icon mat-card-avatar> restaurant_menu</mat-icon>
                <mat-card-title>{{res.type}}</mat-card-title>
                <!-- <mat-card-subtitle>global flavors, local flair</mat-card-subtitle> -->
            </mat-card-header>
            <img class="card-img" *ngIf='res.imageURL !== "No Image Found"' mat-card-image [src]=res.imageURL
                onError="this.src='../../assets/images/No-Image-Placeholder.svg'">

            <img class="card-img" *ngIf='res.imageURL === "No Image Found"' mat-card-image
                src="../../assets/images/No-Image-Placeholder.svg">

            <mat-card-content>
                <p class="card-body">
                    {{res.name}}
                    <br>
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button [routerLink]="['/restaurants/details', res.name]">More Details</button>
                <button class="favourite-button" mat-icon-button matTooltip="Basic" (click)="addToFavourites(res)" aria-label="added to favourites snack-bar">
                    <mat-icon id="favourite-icon">favorite</mat-icon>
                </button>
            </mat-card-actions>
        </mat-card>
    </div>

</div>