<mat-toolbar class="toolbar">
    <mat-toolbar-row>
        <span id="logo" [routerLink]="['/home']">DATEGENIE</span>
        <span class="toolbar-spacer"></span>
        <span class="toolbar-components-container">
            <a class="toolbar-components" [routerLink]="['/restaurants']">RESTAURANTS</a>
            <a class="toolbar-components" [routerLink]="['/attractions']">ATTRACTIONS</a>
            <a class="toolbar-components" [routerLink]="['/favourites']">FAVOURITES</a>
        </span>
    </mat-toolbar-row>
</mat-toolbar>